apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "node-policy-webhook.fullname" . }}
  labels:
    {{- include "node-policy-webhook.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "node-policy-webhook.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: node-policy-webhook
        {{- include "node-policy-webhook.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "node-policy-webhook.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          args:
            - --tls-cert={{ .Values.certs.mountPath }}/cert.pem
            - --tls-key={{ .Values.certs.mountPath }}/key.pem
            - -v=2
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: BIND_ADDRESS
              value: {{ include "node-policy-webhook.bindAddress" . | quote }}
          ports:
            - name: https
              containerPort: {{ .Values.bindPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              scheme: HTTPS
              path: /
              port: https
          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /
              port: https
          volumeMounts:
            - name: webhook-certs
              mountPath: {{ .Values.certs.mountPath }}
              readOnly: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: webhook-certs
          secret:
            secretName: {{ include "node-policy-webhook.fullname" . }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
