{{- if .Values.certs.defaultCreate -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "node-policy-webhook.fullname" . }}
  labels:
      {{- include "node-policy-webhook.labels" . | nindent 4 }}
data:
  cert.pem: {{ .Values.certs.cert | b64enc }}
  key.pem: {{ .Values.certs.key | b64enc }}
type: Opaque
{{- end }}
